[Unit]
Description=IoT Gateway Service
After=network.target

[Service]
Type=simple
User=azureuser
WorkingDirectory=/home/azureuser/app/gateway
Environment=PATH=/home/azureuser/.nvm/versions/node/v24.15.0/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/home/azureuser/.nvm/versions/node/v24.15.0/bin/npm run dev
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=gateway

[Install]
WantedBy=multi-user.target
